<posts posts="vm.posts" ng-show="vm.posts && vm.posts.length"></posts>

<div class="well">
	<div class="row">
		<div class="col-sm-12">
			<div class="post" ng-repeat = "i in vm.show">
				<div class="post__meta">
					<span style="font-size:3em" ><a ng-href="/page/{{i.id}}">{{i.name}}<br/></a></span>
					<div class="fb-like" ng-href="{{i.link}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div><br/>
					<a ng-repeat="j in i.category_list track by $index" ng-href="https://www.facebook.com/{{j.id}}">Facebook Category : {{j.name}} </a><br/>
					<div >About this page:<br/> {{i.about}}<br/></div>
					<img ng-src="{{i.picture}}" width="200"/>
					<a ng-href="{{i.link}}"><img src="/static/Find.png" class="find" width="180" /></a>
				</div>
			</div>
		</div> 
	</div>
</div>

<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post"
   href="javascript:void(0)"
   ng-show="vm.isAuthenticated"
   ng-dialog="/static/templates/posts/new-post.html"
   ng-dialog-controller="NewPostController as vm"></a>