<div class="row">
	<div class="col md-4 ">
		<div class="col md-offset-1">
			<img src="https://graph.facebook.com/643506762371235/picture" /> 
		</div>
		<div class="well col-md-offset-4" ng-show="vm.account">
			<img ng-src="{{ vm.account.profile_picture }}" />
			<form role="form" class="settings" ng-submit="vm.update()">
				<div class="form-group">
					<label for="settings__email">Email</label>
					<input type="text" class="form-control" id="settings__email" ng-model="vm.account.email" placeholder="ex. john@example.com" />
				</div>

				<div class="form-group">
					<label for="settings__password">New password</label>
					<input type="password" class="form-control" id="settings__password" ng-model="vm.account.password" placeholder="ex. password" />
				</div>

				<div class="form-group">
					<label for="settings__confirm-password">Confirm Password</label>
					<input type="password" class="form-control" id="settings__confirm-password" ng-model="vm.account.confirm_password" placeholder="Please enter your password again" />
				</div>

				<div class="form-group">
					<label for="seetings__username">Username</label>
					<input type="text" class="form-control" id="settings__username" ng-model="vm.account.username" placeholder="Please enter your username"/>
				</div>

				<div class="form-group">
					<label for="settings__tagline">Tagline</label>
					<textarea class="form-control" id="settings__tagline" ng-model="vm.account.tagline" placeholder="ex. This is not google plus"/>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-danger pull-right" ng-click="vm.account.destroy()">Delete Account</button>
				</div>
			</form>
		</div>
	</div>
</div>